<header class="app-header">
    <div class="header-left">
      <!-- <button class="icon-button hamburger-menu">
        <i class="fas fa-bars"></i>
      </button> -->
      <div class="logo">
        <span>MovSound</span>
        <img src="assets\images\crescent-moon.png" alt="MovSound Logo Icon" class="logo-icon">
      </div>
    </div>
    <div class="header-filters">
      <div class="filter-group">
        <label for="filter1">Title</label>
        <select id="filter1">
          <option>Selected Option</option>
          <option>Option 2</option>
        </select>
      </div>
      <div class="filter-group">
        <label for="filter2">Genre</label>
        <select id="filter2">
          <option>Selected Option</option>
          <option>Option 2</option>
        </select>
      </div>
      <div class="filter-group">
        <label for="filter3">Year</label>
        <select id="filter3">
          <option>Selected Option</option>
          <option>Option 2</option>
        </select>
      </div>
      <button class="search-button">SEARCH</button>
    </div>
  </header>