<aside class="app-sidebar">
    <div class="menu-label">MAIN MENU</div>
    <nav class="main-nav">
      <ul>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/dashboard">
            <i class="fas fa-th-large nav-icon"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a routerLink="/watchlist">
            <i class="fas fa-list-ul nav-icon"></i>
            <span>WatchList</span>
          </a>
        </li>
        <li class="nav-item" routerLinkActive="active">
            <a routerLink="/addMovie">
              <i class="fas fa-list-ul nav-icon"></i>
              <span>Add Movie</span>
            </a>
        </li>
      </ul>
    </nav>
  </aside>