<div class="dashboard-container">
    <section class="hero-section" [style.backgroundImage]="'url(' + currentHeroPosterUrl + ')'">
    </section>
  
    <section class="movies-carousel-section">
      <button class="carousel-arrow prev-arrow icon-button"
              (click)="prevPage()" 
              [disabled]="currentPage === 0">
        <i class="fas fa-chevron-left"></i>
      </button>
  
      <div *ngIf="isLoading" class="loading-indicator">
        Loading movies...
      </div>
  
      <div *ngIf="error && !isLoading" class="error-message">
        {{ error }}
      </div>

      <div *ngIf="!isLoading && !error && paginatedMovies.length > 0" class="carousel-wrapper">
        <div class="carousel-track" [style.transform]="getSliderTransform()">
          <div class="carousel-page" *ngFor="let page of paginatedMovies">
            <app-movie-card *ngFor="let movie of page" [movie]="movie"></app-movie-card>
          </div>
        </div>
      </div>
  
      <div *ngIf="!isLoading && !error && paginatedMovies.length === 0" class="no-movies-found">
        No movies found.
      </div>
  
      <button class="carousel-arrow next-arrow icon-button"
              (click)="nextPage()" 
              [disabled]="currentPage === paginatedMovies.length - 1">
        <i class="fas fa-chevron-right"></i>
      </button>
    </section>
</div>